<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Edit Message</h2>
    <form action="http://localhost:8080/chats/<%=chat.id%>?_method=PUT" method="post">
        <p>message:</p>
        <textarea name="message"><%= chat.message %></textarea><br><br>
        <input type="submit" value="Edit">
    </form>
</body>

</html>