<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 2px solid black; width: 200px; padding: 10px; ">
        <p><%=chat.id %></p>
    <p>sent by: <%=chat.from %></p>
    <p>sent to: <%=chat.to %></p>
   <div style="border: 0.7px solid black; width: 150px; padding: 5px; text-align: center;">
     <p><%=chat.message %></p>
   </div>
    </div>
</body>
</html>